div.container
  h1 Users page

  app-table([tableHead]="tableHead",
            [tableBody]="tableBody",
            (prevClicked)="getPreviousPage($event)",
            (nextClicked)="getNextPage($event)")
