div.container(*ngIf="(user$ | async) else noUser; let user")
  img([src]="user.avatar_url")
  h1 {{user.name}}
  h2 {{user.login}}
  p {{user.location}}
  a([href]="user.blog") {{user.blog}}

  app-user-repos([username]="user.login", (repoClicked)="repoClicked($event)" )

ng-template(#noUser)
  h1 No user found
