div.container
  h1 User {{username}} repos:

  app-table([tableHead]="tableHead",
            [tableBody]="tableBody",
            (prevClicked)="getPreviousPage($event)",
            (nextClicked)="getNextPage($event)")
