table.table.table-hover
    thead
      tr
        th(*ngFor="let column of tableHead") {{column}}

    tbody
      tr(*ngFor="let row of tableBody")
        td(*ngFor="let column of row")
          span(*ngIf="!column.link") {{column.value}}
          a(*ngIf="column.link", [href]="column.link") {{column.value}}

div.d-flex.justify-content-between
  button.btn.btn-primary((click)="getPreviousPage()") Previous
  button.btn.btn-primary((click)="getNextPage()") Next
